In [2]:
from datetime import datetime 
import os
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.base import BaseEstimator, TransformerMixin

In [4]:
condition_path = './CN240/data/condition/'
control_path = './CN240/data/control/'

In [1]:
import pandas as pd
df_score = pd.read_csv('./CN240/data/scores.csv')
df_score.describe

<bound method NDFrame.describe of           number  days  gender    age  afftype  melanch  inpatient    edu  \
0    condition_1    11       2  35-39      2.0      2.0        2.0   6-10
1    condition_2    18       2  40-44      1.0      2.0        2.0   6-10
2    condition_3    13       1  45-49      2.0      2.0        2.0   6-10
3    condition_4    13       2  25-29      2.0      2.0        2.0  11-15
4    condition_5    13       2  50-54      2.0      2.0        2.0  11-15
5    condition_6     7       1  35-39      2.0      2.0        2.0   6-10
6    condition_7    11       1  20-24      1.0      NaN        2.0  11-15
7    condition_8     5       2  25-29      2.0      NaN        2.0  11-15
8    condition_9    13       2  45-49      1.0      NaN        2.0   6-10
9   condition_10     9       2  45-49      2.0      2.0        2.0   6-10
10  condition_11    14       1  45-49      2.0      2.0        2.0   6-10
11  condition_12    12       2  40-44      1.0      2.0        2.0   6-10
12  condition_13    14       2  35-39      1.0      2.0        2.0  11-15
13  condition_14    14       1  60-64      1.0      2.0        2.0   6-10
14  condition_15    13       2  55-59      2.0      2.0        2.0  11-15
15  condition_16    16       1  45-49      2.0      2.0        2.0  11-15
16  condition_17    13       1  50-54      1.0      2.0        2.0   6-10
17  condition_18    13       2  40-44      3.0      2.0        2.0  11-15
18  condition_19    13       2  50-54      2.0      2.0        1.0  16-20
19  condition_20    13       1  30-34      2.0      1.0        1.0   6-10
20  condition_21    13       2  35-39      2.0      2.0        1.0   6-10
21  condition_22    14       1  65-69      2.0      2.0        1.0
22  condition_23    16       1  30-34      2.0      2.0        1.0  16-20
23     control_1     8       2  25-29      NaN      NaN        NaN    NaN
24     control_2    20       1  30-34      NaN      NaN        NaN
25     control_3    12       2  30-34      NaN      NaN        NaN
26     control_4    13       1  25-29      NaN      NaN        NaN
27     control_5    13       1  30-34      NaN      NaN        NaN
28     control_6    13       1  25-29      NaN      NaN        NaN
29     control_7    13       1  20-24      NaN      NaN        NaN
30     control_8    13       2  40-44      NaN      NaN        NaN
31     control_9    13       2  30-34      NaN      NaN        NaN
32    control_10     8       1  30-34      NaN      NaN        NaN
33    control_11    13       1  45-49      NaN      NaN        NaN
34    control_12    14       1  60-64      NaN      NaN        NaN
35    control_13    13       1  50-54      NaN      NaN        NaN    NaN
36    control_14    13       1  50-54      NaN      NaN        NaN
37    control_15    11       1  45-49      NaN      NaN        NaN
38    control_16    13       2  40-44      NaN      NaN        NaN
39    control_17     9       1  45-49      NaN      NaN        NaN
40    control_18    13       2  20-24      NaN      NaN        NaN
41    control_19    13       1  50-54      NaN      NaN        NaN
42    control_20    13       1  35-39      NaN      NaN        NaN
43    control_21     8       1  50-54      NaN      NaN        NaN
44    control_22    13       1  25-29      NaN      NaN        NaN
45    control_23    13       1  20-24      NaN      NaN        NaN
46    control_24    13       2  20-24      NaN      NaN        NaN
47    control_25    13       1  65-69      NaN      NaN        NaN
48    control_26    13       1  35-39      NaN      NaN        NaN
49    control_27    13       2  50-54      NaN      NaN        NaN
50    control_28    16       2  45-49      NaN      NaN        NaN
51    control_29    13       2  50-54      NaN      NaN        NaN
52    control_30     9       2  35-39      NaN      NaN        NaN
53    control_31    13       1  20-24      NaN      NaN        NaN
54    control_32    14       2  25-29      NaN      NaN        NaN

    marriage  work  madrs1  madrs2
0        1.0   2.0    19.0    19.0
1        2.0   2.0    24.0    11.0
2        2.0   2.0    24.0    25.0
3        1.0   1.0    20.0    16.0
4        2.0   2.0    26.0    26.0
5        1.0   2.0    18.0    15.0
6        2.0   1.0    24.0    25.0
7        1.0   2.0    20.0    16.0
8        1.0   2.0    26.0    26.0
9        1.0   2.0    28.0    21.0
10       1.0   2.0    24.0    24.0
11       2.0   2.0    25.0    21.0
12       2.0   2.0    18.0    13.0
13       2.0   2.0    28.0    19.0
14       1.0   1.0    14.0    18.0
15       1.0   2.0    13.0    17.0
16       1.0   2.0    17.0    15.0
17       2.0   2.0    18.0    15.0
18       2.0   2.0    26.0    21.0
19       1.0   2.0    27.0    25.0
20       2.0   2.0    26.0    21.0
21       2.0   2.0    29.0    28.0
22       2.0   2.0    29.0    23.0
23       NaN   NaN     NaN     NaN
24       NaN   NaN     NaN     NaN
25       NaN   NaN     NaN     NaN
26       NaN   NaN     NaN     NaN
27       NaN   NaN     NaN     NaN
28       NaN   NaN     NaN     NaN
29       NaN   NaN     NaN     NaN
30       NaN   NaN     NaN     NaN
31       NaN   NaN     NaN     NaN
32       NaN   NaN     NaN     NaN
33       NaN   NaN     NaN     NaN
34       NaN   NaN     NaN     NaN
35       NaN   NaN     NaN     NaN
36       NaN   NaN     NaN     NaN
37       NaN   NaN     NaN     NaN
38       NaN   NaN     NaN     NaN
39       NaN   NaN     NaN     NaN
40       NaN   NaN     NaN     NaN
41       NaN   NaN     NaN     NaN
42       NaN   NaN     NaN     NaN
43       NaN   NaN     NaN     NaN
44       NaN   NaN     NaN     NaN
45       NaN   NaN     NaN     NaN
46       NaN   NaN     NaN     NaN
47       NaN   NaN     NaN     NaN
48       NaN   NaN     NaN     NaN
49       NaN   NaN     NaN     NaN
50       NaN   NaN     NaN     NaN
51       NaN   NaN     NaN     NaN
52       NaN   NaN     NaN     NaN
53       NaN   NaN     NaN     NaN
54       NaN   NaN     NaN     NaN  >

In [14]:
# df_legend = pd.read_csv('./CN240/facial_expressions/data/500_picts_satz.csv')
df_500 = pd.read_csv('./500_pict.csv')
df_500.groupby('emotion').count()

            id  name
emotion
anger      115   115
fear        54    54
happiness  197   197
neutral     84    84
sad         50    50

In [13]:
df_legend2 = pd.read_csv('./500_pict_2.csv')
df_legend2.loc[df_legend2['emotion'].str.isupper(), 'emotion'] = df_legend2['emotion'].str.lower()
df_legend2.groupby('emotion').count()

            id  name
emotion
anger      115   115
fear        54    54
happiness  197   197
neutral     84    84
sad         50    50

In [15]:
df_legend = pd.read_csv('./CN240/facial_expressions/data/legend.csv')
df_legend.loc[df_legend['emotion'].str.isupper(), 'emotion'] = df_legend['emotion'].str.lower()
df_legend.groupby('emotion').count()

           user.id  image
emotion
anger          252    252
contempt         9      9
disgust        208    208
fear            21     21
happiness     5696   5696
neutral       6868   6868
sadness        268    268
surprise       368    368

ไม่มีข้อมูลซํ้ำ

In [22]:
df_500 = pd.read_csv('./CN240/facial_expressions/data/legend.csv')
column_names = ['user.id','image','emotion']
duplicates = df_500.duplicated(subset=column_names, keep=False)
df_500[duplicates]

Empty DataFrame
Columns: [user.id, image, emotion]
Index: []

loop check time stamp ซํ้า

In [ ]:
# นึกไม่ออก
# # df_500 = pd.read_csv('./CN240/data/condition/')
# column_names = ['user.id','image','emotion']
# duplicates = df_500.duplicated(subset=column_names, keep=False)
# df_500[duplicates]

ข้างล่างของเบรฟ

In [ ]:
import cv2 as cv
import csv

def load_filename_from_folder(folder):
    return [filename for filename in os.listdir(folder)]


def load_images_from_folder(folder):
    images = []
    for filename in os.listdir(folder):
        img = cv.imread(os.path.join(folder, filename))
        if img is not None:
            images.append(img)
    return images


def write(filename, data):
    csv_file = open(filename, "w", newline='')
    writer = csv.writer(csv_file, quoting=csv.QUOTE_NONNUMERIC, delimiter=",")
    for data in data:
        writer.writerow(data)
    csv_file.close()


def main():
    path = "Glaucoma"
    data = [["filename", "width", "height"]]
    filename = load_filename_from_folder(path)

    elem = 0
    for img in load_images_from_folder(path):
        width = img.shape[0]
        height = img.shape[1]
        data_for_append = [filename[elem], str(width), str(height)]
        data.append(data_for_append)
        elem += 1

    write("data.csv", data)


main()